@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'),
       url('../assets/fonts/Poppins-Regular.woff2'),
       url('../assets/fonts/Poppins-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
       url('../assets/fonts/Roboto-Regular.woff2'),
       url('../assets/fonts/Roboto-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Medium'),
       url('../assets/fonts/Poppins-Medium.woff2'),
       url('../assets/fonts/Poppins-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Medium'),
       url('../assets/fonts/Roboto-Medium.woff2'),
       url('../assets/fonts/Roboto-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Bold'),
       url('../assets/fonts/Poppins-Bold.woff2'),
       url('../assets/fonts/Poppins-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}