.content {
  display: flex;
  justify-content: space-between;
}

.content__left {
  width: 100%;
  max-width: 597px;
  margin-left: 3px;
}

.content__title {
  max-width: 375px;
  font-size: 48px;
  line-height: 65px;
  color: var(--dark-gray);
}

.content__highlight {
  color: var(--orange);
}

.content__title-descr {
  max-width: 474px;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 59px;
  color: var(--dark-gray);
}

.content__descr {
  max-width: 444px;
  max-height: 100px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  overflow-y: scroll;
  color: var(--light-gray);
}

.content__descr::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.content__descr::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 5px;
}

.content__start-btn {
  margin-bottom: 50px;
  padding: 12px 22px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--white);
  background-color: var(--green);
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
}

.content__start-btn:hover {
  background-color: var(--green-hover);
}

.content__form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.content__input {
  width: 100%;
  max-width: 597px;
  min-height: 62px;
  padding: 21px 80px 22px 40px;
  background: var(--white);
  box-shadow: 0px 20px 30px rgba(222, 222, 222, 0.25);
  outline: none;
  border: none;
  border-radius: 100px;
}

.content__input::placeholder {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #A2A2A2;
}

.content__input::-webkit-search-decoration,
.content__input::-webkit-search-cancel-button,
.content__input::-webkit-search-results-button,
.content__input::-webkit-search-results-decoration {
  display: none;
}

.content__search-btn {
  width: 55px;
  height: 55px;
  right: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--green);
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}

.content__search-btn:hover {
  background-color: var(--green-hover);
}

.content__subscribers {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.content__subscr-descr {
  display: inline-block;
  font-family: 'Roboto';
  line-height: 19px;
  color: var(--gray);
}

.content__avatars {
  width: 101px;
  height: 38px;
  display: inline-block;
  position: relative;
  margin-right: 12px;
}

.content__avatar {
  width: 38px;
  height: 38px;
  position: absolute;
}

.content__first-user {
  left: -1px;
  background: url('../../assets/img/first-avatar.png') no-repeat center center / cover;
}

.content__second-user {
  left: 19px;
  background: url('../../assets/img/second-avatar.png') no-repeat center center / cover;
}

.content__third-user {
  left: 41px;
  background: url('../../assets/img/third-avatar.png') no-repeat center center / cover;
}

.content__fourth-user {
  left: 62px;
  background: url('../../assets/img/fourth-avatar.png') no-repeat center center / cover;
}

.content__right {
  width: 100%;
  max-width: 574px;
  height: 567px;
  position: relative;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__right-green-gb {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 83px;
  background-color: var(--green);
  border-radius: 100%;
}

.content__right-orbit {
  width: 450px;
  height: 450px;
  position: absolute;
  top: -35px;
  left: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #E8E8E8;
  border-radius: 100%;
}

@keyframes showBritishFlag {
  0% {
    top: 213px;
    left: 187px
  }

  25% {
    top: 191px;
    left: 52px;
  }

  50% {
    top: 163px;
    left: 12px;
  }

  75% {
    top: 126px;
    left: -3px;
  }

  100% {
    top: 77px;
    left: -12px;
  }
}

@keyframes showFirstItalyFlag {
  0% {
    top: 213px;
    left: 187px
  }

  25% {
    top: 126px;
    left: 150px;
  }

  50% {
    top: 74px;
    left: 159px;
  }

  75% {
    top: 16px;
    left: 182px;
  }

  100% {
    top: -30px;
    left: 215px;
  }
}

@keyframes showSecondItalyFlag {
  0% {
    top: 213px;
    left: 187px
  }

  100% {
    top: 416px;
    left: 215px;
  }
}

@keyframes showFirstIndiaFlag {
  0% {
    top: 213px;
    left: 187px
  }

  25% {
    top: 131px;
    left: 237px;
  }

  50% {
    top: 81px;
    left: 292px;
  }

  75% {
    top: 84px;
    left: 345px;
  }

  100% {
    top: 89px;
    left: 387px;
  }
}

@keyframes showSecondIndiaFlag {
  0% {
    top: 213px;
    left: 187px
  }

  25% {
    top: 212px;
    left: 326px;
  }

  50% {
    top: 232px;
    left: 378px;
  }

  75% {
    top: 238px;
    left: 399px;
  }

  100% {
    top: 251px;
    left: 423px;
  }
}

@keyframes showThirdIndiaFlag {
  0% {
    top: 213px;
    left: 187px
  }

  25% {
    top: 307px;
    left: 110px;
  }

  50% {
    top: 298px;
    left: 60px;
  }

  75% {
    top: 286px;
    left: 27px;
  }

  100% {
    top: 251px;
    left: -16px;
  }
}

@keyframes rotateOrbit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flagRotate {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.show-british-flag {
  animation: showBritishFlag 1s normal linear 1 forwards;
}

.show-first-italy-flag {
  animation: showFirstItalyFlag 1s normal linear 1 forwards;
}

.show-second-italy-flag {
  animation: showSecondItalyFlag 1s normal linear 1 forwards;
}

.show-first-india-flag {
  animation: showFirstIndiaFlag 1s normal linear 1 forwards;
}

.show-second-india-flag {
  animation: showSecondIndiaFlag 1s normal linear 1 forwards;
}

.show-third-india-flag {
  animation: showThirdIndiaFlag 1s normal linear 1 forwards;
}

.rotate-orbit {
  animation: rotateOrbit 10s normal linear infinite;
}

.flag-rotate {
  animation: flagRotate 10s normal linear infinite;
}

.british-flag {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 77px;
  left: -12px;
  background: url('../../assets/img/british-flag.png') no-repeat center center / cover;
}

.italy-flag {
  width: 56px;
  height: 56px;
  position: absolute;
  top: -30px;
  left: 215px;
  background: url('../../assets/img/italy-flag.png') no-repeat center center / cover;
}

.second-italy-flag {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 416px;
  left: 215px;
  background: url('../../assets/img/italy-flag.png') no-repeat center center / cover;
}

.india-flag {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 89px;
  left: 387px;
  background: url('../../assets/img/India-flag.png') no-repeat center center / cover;
}

.second-india-flag {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 251px;
  left: 423px;
  background: url('../../assets/img/India-flag.png') no-repeat center center / cover;
}

.third-india-flag {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 251px;
  left: -16px;
  background: url('../../assets/img/India-flag.png') no-repeat center center / cover;
}

.content__right-woman-img {
  width: 100%;
  max-width: 315px;
  min-height: 557px;
  position: absolute;
  bottom: 0;
  background: url('../../assets/img/woman.png') no-repeat center center / cover;
}

.hide {
  opacity: 0;
}